* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: large;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: linear-gradient(45deg, #e66465, #9198e5);
}

.letters {
  perspective: 1000px;

  .letter {
    overflow: hidden;
    display: inline-block;
    user-select: none;
    line-height: 0.8;
    font-size: 5rem;
    transition: 800ms ease-in-out;
    color: #000;
    &.active {
      animation: jump 1s ease-in-out;
      transform-origin: bottom left;
      color: #12af2c;
      transition: 800ms ease-in-out;
    }
  }
}

@keyframes jump {
  0% {
    transform: translate(0, 0) rotate(90deg);
  }
  25% {
    transform: scale(2) translate(0, -200px);
  }
  75% {
    transform: scale(2) translate(200px, 0);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
